.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  color: white;
}

.header-left-side,
.header-center,
.header-right-side {
  display: flex;
  align-items: center;
}

.header-left-side {
  flex: 1;
  justify-content: flex-start;
}

.header-right-side {
  flex: 1;
  justify-content: flex-end;
  gap: 0.5rem;
}

.header-center {
  flex: 1;
  justify-content: center;
}

.header-logo {
  height: 30px;
  width: auto;
  background: transparent;
  border: none;
  display: block;
  cursor: pointer;
}

.header-icon,
.header-icon-filter {
  height: 32px;
  width: auto;
  background: transparent;
  border: none;
  display: block;
  cursor: pointer;
}

.header-icon-filter {
  margin-right: 25px;
  height: 27px;
}

.login {
  color: black;
}
