.header {
  /* border: 3px solid red; */
  /* background-color: #fafafa; */
}

.header-bar {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.stays-container {
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-search-bar {
  border: none;
  width: 200px;
  padding: 5px;
}

.searchbar-icon {
  width: 25px;
}

.logIn {
  /* border: 2px solid red; */
  width: 100px;
  display: flex;
}

.header-searchbar {
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.stays-image {
  width: 30px;
}

.header-logo {
  width: 50px;
  height: auto;
  display: block;
}

.checkIn-checkOut {
  display: flex;
  /* border: 3px solid red; */
  width: 120px;
}
