.hostedBy-wrapper {
  padding: 0 20px;
  max-width: 1200px;
  margin: 20px auto;
  box-sizing: border-box;
}

.hostedBy-container {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  box-sizing: border-box;
}

.hostedBy-container img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.hostedBy-container p {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

@media (max-width: 1200px) {
  .hostedBy-wrapper {
    padding: 0 13px;
  }
}

@media (min-width: 823px) {
  .hostedBy-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hostedBy-container {
    flex: 1;
    max-width: 50%;
  }
}
