.property-Description-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.property-Description-container h1 {
  font-size: large;
  display: flex;
  justify-content: center;
}

.property-Description-container p {
  display: flex;
  justify-content: center;
}
