.propertyCard-square {
  /* border: 2px solid red; */
  font-family: "Nunito", sans-serif;
}

.propertyInfo {
  /* border: 2px solid red; */
  margin: 2px 0; /* or even 0 if needed */
}

.propertyCard-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.property-title {
  font-size: 1rem;
}

.property-info {
  font-size: 0.8rem;
  line-height: 1;

  /* border: 2px solid red; */
}

.property-info-likes {
  /* border: 2px solid red; */
  font-size: 0.7rem;
  cursor: pointer;
}

.property-info-favourite-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.propertyCard-image-wrapper {
  position: relative;
}

.propertyCard-image {
  width: 100%;
  height: auto;
  display: block;
}

.property-info-likes {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  padding: 4px 8px;
  border-radius: 14px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
