:root {
  --base_scale: 5vh;
  --floor: 15vh;
  --color: #836ee5;
}

.shape-loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* === Shape Base === */
.shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: calc(-1 * (var(--base_scale) / 2));
  margin-bottom: var(--floor);
}

/* === Shape Types === */
.shape.circle {
  width: var(--base_scale);
  height: var(--base_scale);
  background: var(--color);
  border-radius: 50%;
}

.shape.semi-circle {
  height: calc(var(--base_scale) * 2);
  width: var(--base_scale);
  background: var(--color);
  border-bottom-right-radius: calc(var(--base_scale) * 2);
  border-top-right-radius: calc(var(--base_scale) * 2);
}

.shape.square {
  width: var(--base_scale);
  height: var(--base_scale);
  background: var(--color);
}

.shape.rectangle {
  width: calc(var(--base_scale) * 1.5);
  height: var(--base_scale);
  background: var(--color);
}

.shape.triangle {
  width: 0;
  height: 0;
  border-bottom: var(--base_scale) solid var(--color);
  border-right: var(--base_scale) solid transparent;
}

.shape.triangle-2 {
  width: 0;
  height: 0;
  border-top: var(--base_scale) solid var(--color);
  border-left: var(--base_scale) solid transparent;
}

/* === Bounce animation === */
.shape.bounce-up {
  --bounce-height: calc(
    -1 * 50vh - (var(--base_scale) - var(--floor) + var(--bounce-variance))
  );
  transform: translateY(var(--bounce-height)) rotate(0deg);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.shape.bounce-down {
  transform: translateY(0) rotate(var(--rotation));
  transition: transform 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.loading-text {
  margin-top: 20vh;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
