.properties-container {
  height: 100vh;
}

.propertiesCard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

.image-box {
}

.image-box-image {
  border: 2px solid red;
  width: 200px;
  height: 200px;
}

.image-box-image2 {
  width: 10px;
  height: 10px;
}

.signIn-image {
  aspect-ratio: 1/1;
  width: 23px;
  height: auto;
  display: block;
}

.loading-message {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}
